/*GLOBAL CSS CLASSES*/

.font-nun{
    font-family:$nun;
    font-weight: bold; 
}

.fon-size-1{
    font-size: 0.8rem;
}

.fon-size-2{
    font-size: 1.9rem;
}

.fon-size-3{
    font-size: 3rem;
}

.width-lg-50{
    @media screen and (min-width:992px){
        width:200px;
        
    }
}

.left-border{
    border-left: 8px solid $teal;
    padding-left: 1rem;
}